
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    max-width: 940px;
}

body {
    margin:0px;
    background-image:url(../img/back.png);
    background-repeat: no-repeat;
    background-position:50% 0px;
}

.header {
    height:380px;
}

.centered {
text-align:center;
}

